
*{
    margin: 20px;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(9, 9, 49);
    color: white;
    align-content: right;
}
/* header starts here */
.hero{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}
.logo{
    background-color: white;
    color: #000000;
    font-size: 18px;
    padding: 6px;
    cursor: pointer;
}
/* header part */
.social a{
    color: rgb(236, 236, 99);
    width: 45PX;
    height: 45PX;
    align-items: center;
    justify-content: space-between;
    border-radius: 50%;
    display: inline-flex;
    margin: 22PX 10PX;
    size: 20PX;
}
h1{
    color: white;
    font-size: 65PX;
    margin-inline-end: 4px;
    margin-top: -30px;
    right: 20px;
}

.images nav img{
    border-radius: 50%;
    height: 350px;
    width: 350px;
    position: absolute;
    right: 60px;
    top: 200px;
    border-bottom: 8%0px;
}
/* body section starts */

h2{
    color: white;
    font-size: 35px;
}
p{
    font-size: 15px;
    color: white;
}
p a{
    font-weight: normal;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    background-color:#555
}
nav ul li{
    color: white;
    margin-top: 5px;
    padding-left: 2px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: normal;
    background-color: #555;
    text-transform: capitalize;
}
